<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @*
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        @Styles.Render("~/Content/css")
        *@
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="../../StyleSheets/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../../StyleSheets/bootstrap-theme.css" rel="stylesheet" type="text/css" />

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="../../Scripts/bootstrap.js" type="text/javascript"></script>


        @RenderSection("cssSection", required: false)

        <style type="text/css">
        nav { background-image: #fff !important; }
            #navbar-container { position: relative; }
        	    #navbar-container > * { position: relative; }
        	        .navbar-brand { position: relative; height: 59px; width: 126px; }
        	            #navbar-brand-image { position: absolute; top: 0px; left: -15px; }
        	        #navbar-items { position: absolute; left: 115px; }

                    ul.nav li { height: 59px; }
                        ul.nav li a { height: 100%; }
                    ul.nav li.selected { background-image: -webkit-linear-gradient(top, #fff 0%, #ec7a08 100%); border-radius: 0px 0px 8px 8px; }
                        ul.nav li.selected a { color: Black; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div id="navbar-container" class="container-fluid">
                <div class="collapse navbar-collapse">
                    <a class="navbar-brand" href="/Home/Index">
                        <img id="navbar-brand-image" src="../../Images/NeoQIC_icon_126_59.gif" height="59" width="126" />
                    </a>
                    <ul id="navbar-items" class="nav navbar-nav">
                        <li class=@(ViewBag.activeNav == 0 ? "selected" : "")><a href="/Home/Index">Home</a></li>
                        <li class=@(ViewBag.activeNav == 1 ? "selected" : "")><a href="/NAS/New/">New</a></li>
                        <li class=@(ViewBag.activeNav == 2 ? "selected" : "")><a href="/NAS/ViewAll/">View/Edit Data</a></li>
                        <li class=@(ViewBag.activeNav == 3 ? "selected" : "")><a href="/Charts/Index/">Standard Charts</a></li>
                        <li class=@(ViewBag.activeNav == 4 ? "selected" : "")><a href="/Charts/Customize/">Customizable Charts</a></li>
                        <li class=@(ViewBag.activeNav == 5 ? "selected" : "")><a href="#">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div> @* collapse *@
            </div>     @* container-fluid *@
        </nav>

        @* Body Container *@
        <div class="container">
            @RenderBody()
        </div>

        @RenderSection("jsSection", required: false)
    </body>
</html>
